<div id="bottom">
  <div class="wrapper">
    <section>
      <header>Why Us?</header>
      <ul class="list">
        <li><em>Strong technical knowledge</em></li>
        <li><em>Experienced Ruby on Rails developers</em></li>
        <li><em>Open Source contributions</em></li>
      </ul>
    </section>

    <section>
      <header>Contact</header>
      <ul>
        <li><span>Phone:</span> +48 600 505 601</li>
        <li><span>Skype:</span> <a href="skype:zpieslak?chat">zpieslak</a></li>
        <li><span>Email:</span> <a href="mailto:%63%6f%6e%74%61%63%74@%63%6f%64%65%67%79%76%65%72.%63%6f%6d">contact(at)codegyver.com</a></li>
      </ul>
    </section>

    <section class="short">
      <header>Follow Us</header>
      <ul class="social_list">
        <li><a id="icon_facebook" target="_blank" href="https://www.facebook.com/codegyver"><span class="icon"></span>Facebook</a></li>
        <li><a id="icon_twitter" target="_blank" href="https://twitter.com/codegyver"><span class="icon"></span>Twitter</a></li>
        <li><a id="icon_github" target="_blank" href="https://github.com/codegyver"><span class="icon"></span>Github</a></li>
      </ul>
    </section>
  </div>
</div>

<footer id="footer">
  <div class="wrapper">
    <p>Copyright © {{ 'now' | date: "%Y" }} CodeGyver</p>
  </div>
</footer>
