<div id="slideshow">
  <div class="wrapper">
    <ul>
      <li>
        <img src="/images/slideshow-1.jpg" alt="Slideshow 1">
        <span>Professional Ruby on Rails development</span>
      </li>
      <li>
        <img src="/images/slideshow-2.jpg" alt="Slideshow 2">
        <span>High quality web development</span>
      </li>
      <li>
        <img src="/images/slideshow-3.jpg" alt="Slideshow 3">
        <span>Constant and effective communication</span>
      </li>
    </ul>
  </div>
</div>
